.design {
  display: flex;

  p {
    margin-bottom: 30px;
  }
}

.design__left-block {
  margin-right: 20px;
  flex: 1;

  h3 {
    font-size: 16px;
  }
  @media(max-width: 768px) {
    margin-right: 0;
  }
}

.design__right-block {
  flex: 0 1 377px;

  @media(max-width: 768px) {
    display: none;
  }
}