.main-nav {
  flex: 0 1 287px;
  border-right: 1px solid $light-gray;

  ul {
    display: flex;
    flex-direction: column;
  }

  li {

    &:hover,
    &.active {
      background-color: $green;
      color: white;
    }

    &:hover a {
      color: white;
    }
  }

  a {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 20px 40px;

    @media(max-width: 1366px) {
      font-size: 15px;
    }
  }

  @media(max-width: 1199px) {
    display: none;
  }
}