.pictures {
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  margin-right: -20px;
  display: flex;

  &--article {
    .item {
      padding-right: 20px;
      margin-bottom: 20px;
      width: 100%;
    }
  }

  &--articles {
    .item {
      padding-right: 20px;

      img {
        width: 100%;
      }
    }

    h3 {
      @media(max-width: 768px) {
        font-size: 14px;
      }
    }
  }

  .item {
    flex: 0 1 50%;
    position: relative;
    overflow: hidden;
    // padding-right: 20px;


    &:hover .fill {
      transition: all .3s;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.4);
    }

    @media(max-width: 768px) {
      flex: 0 1 100%;
      padding-right: 0;
    }
  }

  img {
    display: block;
  }

  .fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    bottom: 0;
    display: flex;
    box-sizing: border-box;
    padding: 30px;

    p {
      margin-top: auto;
    }
  }

  @media(max-width: 768px) {
    margin-right: 0;
  }
}

.pictures__inner {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;

  .item {
    width: 50%;
    margin-bottom: 20px;
  }
}