.sale {
  @media(max-width: 768px) {
    h3 {
      font-size: 16px;
    }
  }

  .link-back {


    &.on-mobile {
      display: none;

      @media(max-width: 768px) {
        display: block;
        font-size: 10px;
      }
    }

    @media(max-width: 768px) {
      display: none;
    }
  }
}