.wrapper {
  position: relative;
  padding: 40px;
  height: 100%;
  .order-open {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 25px;
    line-height: 43px;
    background-color: $green;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    padding: 0;
  }
}
